.DS_Store
/node_modules
.idea
// 故意提交，显示DEBug过程 .vscode
.cache
.next
stats.json
/dev
/dist
/public
/dist-sourcemap
whistle.log
/.next
/logs
/.clinic

# ci
qci-info
auto_qci_tools/node_modules
/bin-debug/
/libs/modules
# manifest.json