.DS_Store
/node_modules
.idea
.vscode
.cache
.next
stats.json
/dev
/dist
/public
/dist-sourcemap
whistle.log
/.next

# ci
qci-info
auto_qci_tools/node_modules
/bin-debug/
/libs/modules
# manifest.json